<!-- FIXME: SIMILAR WITH TEMPLATE, NEED AN .HTML BASE reusable -->
{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}edit-exporter-modal{% endblock %}
{% block modal_title %}Edit Exporter{% endblock %}

{% block modal_body %}
<form id="edit-exporter-form">
    <input id="edit-exporter-id" type="hidden" value=""/>
    <div class="form-group">
        <label for="edit-exporter-name">Enter new {{ data.object_name }} name</label>
        <input id="edit-exporter-name" class="form-control" type="text" value="" placeholder="new_exporter_name"/>
    </div>
</form>
{% endblock %}

{% block modal_footer %}
<a class="btn btn-default pull-left" data-dismiss="modal" href="#"><i class="fa fa-times"></i> Close</a>
<a id="edit-exporter-save" class="btn btn-primary" href="#"><i class="fa fa-save"></i> Save</a>
{% endblock %}