{% extends 'core_main_app/_render/admin/theme/tools/box.html' %}

{% block box_title %}
    XSLT Exporters
{% endblock %}

{% block box_tools %}
<div class="btn-group {% if BOOTSTRAP_VERSION|first == "4" %}float-right{% elif BOOTSTRAP_VERSION|first == "5"  %}float-end{% endif %}">
    <a href="#" class="btn btn-secondary btn-add-xslt-exporter">
        <i class="fas fa-cog"></i> Manage
    </a>
</div>
{% endblock %}

{% block box_body %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Exporter Name</th>
                <th>Associated XSLT</th>
                <th>Associated Templates</th>
                <th>Actions</th>
            </tr>

            {% for exporter in data.exporter_xslt_list %}
                <tr>
                    <td>{{ exporter.name }}</td>
                    <td>{{ exporter.xsl_transformation.name }}</td>
                    <td>{{ exporter.get_templates_to_string }}</td>
                    <td id="{{ exporter.id }}">
                        {% block box_actions %}
                            {% url 'core-admin:core_exporters_app_exporters_xsl_edit' exporter.id as edit_url %}
                            {% include 'core_main_app/common/buttons/edit.html' %}
                            <span class="associated-templates">
                                <a class="btn btn-secondary" href="#"><i class="fas fa-random">
                                </i> Templates mapping </a>
                            </span>
                        {% endblock %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="empty" colspan="3">
                        No XSLT exporters registered.
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

{% block box_footer %}
{% endblock %}