{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}add-xslt-exporter-modal{% endblock %}
{% block modal_title %}Add XSLT{% endblock %}

{% block modal_body %}
<div class="alert alert-danger hidden" id="banner_errors">
        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
     	<h4><i class="fas fa-exclamation-circle"></i> Error</h4>
        <div id="add-xslt-errors"></div>
</div>
<form id="form-add-xslt-content" method="post">
</form>
{% endblock %}

{% block modal_footer %}
<a class="btn btn-secondary pull-left" data-dismiss="modal" href="#"><i class="fas fa-times"></i> Cancel</a>
<button id="btn-add-xslt" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
{% endblock %}