{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}add-xslt-exporter-modal{% endblock %}
{% block modal_title %}Add XSLT{% endblock %}

{% block modal_body %}
<div class="alert alert-danger hidden" id="banner_errors">
        <a href="#" class="{% if BOOTSTRAP_VERSION|first == "4" %}close{% elif BOOTSTRAP_VERSION|first == "5"  %}btn-close{% endif %}" data-hide="alert" aria-label="close">{% if BOOTSTRAP_VERSION|first == "4" %}&times;{% elif BOOTSTRAP_VERSION|first == "5"  %}{% endif %}
        </a>
     	<h4><i class="fas fa-exclamation-circle"></i> Error</h4>
        <div id="add-xslt-errors"></div>
</div>
<h5>Select templates:</h5>
<form id="form-add-xslt-content" class="multiple-select-form" method="post">
</form>
{% endblock %}

{% block modal_footer %}
<a class="btn btn-secondary pull-left" {% if BOOTSTRAP_VERSION|first == "4" %}data-dismiss{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-dismiss{% endif %}="modal" href="#"><i class="fas fa-times"></i> Cancel</a>
<button id="btn-add-xslt" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
{% endblock %}